:root {
    --board-color: #274ca3;
    --board-border-color: #1a367a;
    --hole-bg: #111; 
    --screen-bg: #333;
    --slot-size: 80px;
    --slot-gap: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--screen-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.game-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.piece {
    /* height: calc(var(--slot-size) - var(--slot-gap));
    width: calc(var(--slot-size) - var(--slot-gap)); */
    height: var(--slot-size);
    width: var(--slot-size);
    background-color: red;
    border-radius: 50%;
    /* position: absolute;
    top: -20%; */
}

.board-back {
    position: absolute;
    inset: 0; 
    background-color: var(--hole-bg);
    border-radius: 10px;
    z-index: 1;
    padding: 6px;
}

.piece-container {
    /* position: absolute; */
    position: relative;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.board, .piece-container {
    display: grid;
    grid-template-columns: repeat(7, var(--slot-size));
    grid-template-rows: repeat(6, var(--slot-size));
    gap: var(--slot-gap);
    padding: var(--slot-gap);
}

.board {
    position: relative;
    z-index: 3; 
    background-color: transparent; 
    border: 6px solid var(--board-border-color);
    border-radius: 10px;
}

.slot, .piece-slot {
    width: var(--slot-size);
    height: var(--slot-size);
}

.slot {
    background: radial-gradient(
        circle at center, 
        transparent 65%, 
        var(--board-color) 66%
    );
    box-shadow: 0 0 0 calc(var(--slot-gap) / 2) var(--board-color);
}