:root {
    --board-color: #274ca3;
    --board-border-color: #1a367a;
    --hole-bg: #111; 
    --screen-bg: #333;
    --menu-bg: #9e9e9e;
    --slot-size: 80px;
    --slot-gap: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--screen-bg);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Screen States */

.screen {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active-screen {
    visibility: visible;
    opacity: 1;
}

/* Start Screen */

#start-screen {
    background-color: var(--menu-bg);
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

#start-screen > h1 {
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--board-color);
    text-shadow: 0px 1px 5px white;
}

.start-buttons {
    display: flex;
    gap: 20px;
}

.start-buttons > button {
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}


/* GameBoard */

#game-screen {
    width: fit-content;
    height: fit-content;
}

.piece, .p2-piece {
    height: var(--slot-size);
    width: var(--slot-size);
    border-radius: 50%;
}

.piece {
    background-color: red;
}
.p2-piece {
    background-color: yellow;
}

.board-back {
    position: absolute;
    inset: 0; 
    background-color: var(--hole-bg);
    border-radius: 10px;
    z-index: 1;
    padding: 6px;
}

.piece-container {
    /* position: absolute; */
    position: relative;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.board, .piece-container {
    display: grid;
    grid-template-columns: repeat(7, var(--slot-size));
    grid-template-rows: repeat(6, var(--slot-size));
    gap: var(--slot-gap);
    padding: var(--slot-gap);
}

.board {
    position: relative;
    z-index: 3; 
    background-color: transparent; 
    border: 6px solid var(--board-border-color);
    border-radius: 10px;
}

.slot, .piece-slot {
    width: var(--slot-size);
    height: var(--slot-size);
}

.slot {
    background: radial-gradient(
        circle at center, 
        transparent 65%, 
        var(--board-color) 66%
    );
    box-shadow: 0 0 0 calc(var(--slot-gap) / 2) var(--board-color);
}