:root {
    --board-color: #274ca3;
    --board-border-color: #1a367a;
    --hole-bg: #111; 
    --screen-bg: #333;
    --menu-bg: #9e9e9e;
    --slot-size: 80px;
    --slot-gap: 8px;
    /* --floating-offset: 0px; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--screen-bg);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Screen States */

.screen {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active-screen {
    visibility: visible;
    opacity: 1;
}

.inactive {
    pointer-events: none;
}

/* Start Screen / End Screen */

#start-screen, #end-screen {
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(10px);
    border: 4px solid var(--board-border-color);
    height: auto;
    padding: 60px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

#start-screen > h1,
#end-screen > h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 0px var(--board-color);
    margin-bottom: 10px;
}

#end-screen > h3 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.start-buttons > button {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform .1s, filter .2s;
    font-family: sans-serif;
}

.start-buttons > button:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
}

/* GameBoard */

#game-screen {
    width: fit-content;
    height: fit-content;
}

.piece, .p2-piece {
    position: absolute;
    transform: translateY(-50);
    height: var(--slot-size);
    width: var(--slot-size);
    border-radius: 50%;
}

.piece {
    background-color: red;
}
.p2-piece {
    background-color: yellow;
}

.board-back {
    position: absolute;
    inset: 0; 
    background-color: var(--hole-bg);
    border-radius: 10px;
    z-index: 1;
    padding: 6px;
}

.piece-container {
    position: relative;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.board, .piece-container {
    display: grid;
    grid-template-columns: repeat(7, var(--slot-size));
    grid-template-rows: repeat(6, var(--slot-size));
    gap: var(--slot-gap);
    padding: var(--slot-gap);
}

.board {
    position: relative;
    z-index: 3; 
    background-color: transparent; 
    border: 6px solid var(--board-border-color);
    border-radius: 10px;
}

.slot, .piece-slot {
    width: var(--slot-size);
    height: var(--slot-size);
}

.slot {
    background: radial-gradient(
        circle at center, 
        transparent 65%, 
        var(--board-color) 66%
    );
    box-shadow: 0 0 0 calc(var(--slot-gap) / 2) var(--board-color);
}

.highlighted {
    background-color: #698aaa;
    opacity: .5;
}